body {
    background-color: #7aa9f0;
    font-family: Arial, sans-serif;
  }
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 70px;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
  
  .quote-container {
    margin: 20px;
  }
  
  button {
    background-color: #2196f3;
    color: #fff;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #1976d2;
  }